body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: #FAFAFA;
    width: 70%;
    margin: 0 auto;
}

#unav {
    font-size: 20px;
    margin-top: 10px;
    background-color: #FE6624;
    padding: 30px 0px;
}

#unav a {
    color: #FFF;
    padding: 30px 20px;
}

#unav a:hover {
    background-color: #FFF;
    color: #000;
}

a {
    color: #000;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

h4 {
    display: inline;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
}

#medbody1 {
    background-color: #F6F6F4;
}

#foot1 {
    background-color: #F6F6F4;
    text-align: center;
}

li {
    padding-top: 10px;
    margin-bottom: 10px;
    
    list-style-type: none;
    border-bottom: none;
    font-weight: 600;
}

li:hover {
    background-color: rgb(190, 190, 190);
}

.medul {
    border-bottom: solid lightgray;
    padding-right: 25px;
    font-weight: 400;
}

.medul p{
    display: inline;
    padding: 10px;
}

#hom {
    background-color: #828284;
}

#hom::before {
    content: "\01F3E0";
}

.lin::before {
    content: "︿";
    padding-right: 5px;
    font-size: 17px;
}
#ull {
    padding-left: 0px;
}

#date{
    display: inline;
    color: gray;
}

#sortD{
    text-align: right;
}